<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  <connectionStrings>
    <add name="TUBS" connectionString="Server=SPC112089\SQLEXPRESS;Database=TUBS_MASTER_ENTRY;Trusted_Connection=True" />
    <!-- SQLite connection notes:  Cache Size is set to 512MB.  That's essentially the entire size of the DB -->
    <!-- Journal Mode is off and Read Only is true since this is a read only data source -->
    <add name="Observer" connectionString="Data Source=Q:\\temp\\working.db;Version=3;FailIfMissing=True;Pooling=true;Count Changes=off;Cache Size=536870912;Journal Mode=Off;Read Only=true" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="nunit.framework" publicKeyToken="96d09a1eb7f44a77" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.0.12051" newVersion="2.6.0.12051" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="FluentNHibernate" publicKeyToken="8aa435e3cb308880" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.727" newVersion="1.3.0.727" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.4000" newVersion="3.3.0.4000" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <log4net>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="import.log" />
      <appendToFile value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level %logger - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="Warn" />
      <appender-ref ref="RollingFile" />
    </root>
    <logger name="NHibernate.SQL" additivity="false">
      <level value="ALL" />
    </logger>
    <!--
    <logger name="WebUI.Controllers">
      <level value="Debug" />
    </logger>
    -->
  </log4net>
</configuration>